/*
@font-face {
    font-family: 'Amperzand';
    src: url('./font/amperzand/remachine-script/RemachineScript_Personal_Use.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Gentle';
    src: url('./font/amperzand/a-gentle-touch/A\ Gentle\ Touch.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
        font-family: 'Digital';
        src: url('./font/beautiful_5/Beautiful.ttf') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'Sweetie';
        src: url('./font/sweetie_4/Sweetie.otf') format('woff');
        font-weight: normal;
        font-style: normal;
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #FFFFFF;
}

h1{
    letter-spacing: 1.5px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Sweetie', sans-serif;
    color: #272727;
    letter-spacing: 4px;
}

h2{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: 'Digital', sans-serif;
    color: #fcba06;
}

h3{
        color: #f766ba;
        font-family: 'Sweetie', sans-serif;
        font-weight: bolder;
        font-size: 30px;
        letter-spacing: 4px;
}

h4{
        font-family: 'Sweetie', sans-serif;
        color: #f766ba;
}

h5{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Sweetie', sans-serif;
    color: #383836;
}

h6{
    font-size: 24px;
    color: #fcb903;
}

.corona{
    width: 100%;
    min-height: 110vh;
    background-image: url('./img/coronas/c4.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

span{
    font-size: 45px;
    font-weight: bolder;
}

p{
    font-size: 23px;
    font-weight: bolder;
    font-family: 'Digital', sans-serif;
}

li{
        font-family: 'Digital', sans-serif;

}

.icon{
    width: 230px;
}

.foto{
    width: 80%;
    margin-bottom: 50px;
    border-radius: 8px;
    border: 2px solid #bb8b06;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.fondoFlores{
    width: 100%;
    height: auto;
    max-height: 255vh;
    background-image: url(./img/mariposas/16.jpg);
    background-size: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow: hidden!important;
}

button img{
    width: 20px;
}

button{
    width: auto;
    border-radius: 20px;
    border: none;
    background-color: #fcba06;
    font-weight: bolder;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-family: 'Gentle', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.p-grande{
    font-size:38px;
    font-weight: bolder;
    background-color: #fcba06;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: 'Gentle', sans-serif;
}

.p-mediano{
    font-size: 24px;
}


.img-shadow{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

b{
        color: #f766ba;
}



/*Animacion*/
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-4 15:14:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  
  /*Animation 2*/
  .puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-4 15:19:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

   /*Animation 3*/
   .puff-in-center-2 {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            animation-delay: 0.5s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-4 15:19:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center-2 {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center-2 {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  /*Animation 3*/
  .puff-in-center-3 {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            animation-delay: 1s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-4 15:19:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center-3 {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center-3{
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  


  
  /*Animation 3*/
  .puff-in-center-4 {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            animation-delay: 1.5s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-4 15:19:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center-4 {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center-4{
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  